<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/css/style-index.css">
  
</head>
<body>
    <h1>My Tasks</h1>

    <form action="/tasks" method="POST">
          <input type="text" name="title" placeholder="Enter a task" required>
          <button type="submit">Add Task</button>
    </form>
    
    <ul>
      <% tasks.forEach(function(task) { %>
          <li>
              <a href="/tasks/<%= task.id %>">
                  <span><%= task.title %></span>
                  <% if (task.completed) { %>✅<% } else { %>❌<% } %>
              </a>
          </li>
      <% }) %>
  </ul>
  
    <script src="//js/script.js"></script>
</body>
</html>
